* {
  font-family: 'Lato', sans-serif;
  color: #424242;

  /*USING THIS TEMPORARILY TO VISUALIZE ELEMENTS ON PAGE*/
  /*outline: 2px orange dotted;*/
}

p {
  font-size: 1em;
}

footer {
  text-align: center;
}

body {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: none;
}

/*-----LINK STYLING-----*/
a, a:link, a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #48E5C2;
}

a:visited {
  text-decoration: none;
  color: none;
}
