.navigation-list li {
  list-style-type: none;
  display: block;;
  padding: 1%;
  color: #52FFB8;
}

.top-header {
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1098F7;
  border-bottom: 5px solid #48E5C2;
  color: 
  /*padding-left: 5%;*/
}

.social-links li {
  padding: 3px;
  display: block;
}

.contact-section {
  margin-left: 5px;
  line-height: 5px;
}

.contact-section a {
  margin-left: 10px;
}

.tab-sections {
  margin-left: 5%;
  margin-right: 5%;
}
